:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header  {
    background-color: #19283f;
    position: sticky;
    top: 0px;
    z-index: 2000;
}

.header .container a img {
    padding-top: 10px;
}

.header .nav .toggle-menu {
    color: white;
    margin-right: 20px;
    
}

@media(min-width:768px){
    .header .nav .toggle-menu {
        display: none;
    }
}


@media(max-width:767px) {

    .header  ul {
        display: none;
    }


    .header  .nav .toggle-menu:hover + ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: start;
        top: 100%;
        left: 0;
        width: 100%;
        background-color:#19283f;
    }
    
}

.header .nav ul li a{
    color: white;
}


.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: var(--green-color);
}

.header .nav .icon i {
    color: var(--green-color);
    padding-left: 10px;
    border-left: 2px solid var(--green-color);
    margin-right: 20px;
}

.login{

    padding: 8px 13px;
    border-radius: 7px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 78px);
}
.landing div h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.landing div p{

    margin-bottom: 40px;
}
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

 h2{
    font-size: 30px;
    letter-spacing: 1.5px;
}
.main-shape::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: #33d1cc;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.skills .boxs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px , 1fr));
    gap: 30px;
}

.skills .boxs .box .icon .one{
    font-size: 180px;
    color: #eee;
}

.skills .boxs .box .icon .pen{
    font-size: 60px;
    color: #33d1cc;
    margin-left: -80px;
}

.skills .boxs .box  h2 {
    color: #ffc400;
    font-size: 20px;
}

.photo{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eff7fa;
}

.photo ul li{
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.photo ul li.active{
    background-color: #ff3150;
    color: #ffc400;
}
.photo ul li:hover{
    color: #ff3150;
}


.photo .boxs{
    margin: 40px 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    gap: 20px;
}

.photo .boxs .box{
    overflow: hidden;
    position: relative;
    padding: 5px;
    border: 2px solid white;
}
.photo .boxs .box::before{
    content:"Aplication";
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    color: white;
    background-color: rgb(51 209 204 / 76%);
    transition: 0.3s;
    transform: translateX(calc(-100% - 5px));
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.photo .boxs .box:hover::before{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.photo .boxs .box img {
    max-width: 100%;
}

.stuff{
    padding-top: 100px;
}
.stuff .one {
    max-width: 500px;
    margin: 50px auto 50px auto;
}

@media(max-width:767px){
    .stuff .boxs {
        display: flex;
        flex-direction: column;
    }
    .stuff .boxs .box2 img{
        max-width: 100%;
    }
    .stuff .boxs .box1 {
        margin-bottom: 40px;
    }
}

@media(min-width:992px){
    .stuff .boxs .box1 {
        text-align: start;
    }
    
}
.team{
    background-color:#eff7fa;
    padding-bottom: 100px;
}
.team div {
    padding-top: 70px;
}
.team .boxs{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
    gap: 40px;
    
}

.team .boxs .box img{
    max-width: 100%;
    margin-top: 0;
}
.team .boxs .box h2 {
    margin-top: -5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color:#33d1cc;
}
.team .boxs .box div {
    padding: 0;
    margin: 10px 4px;
}
/* @media(max-width:767px){
    .start-project .container .boxs{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
} */
.start-project {
    /* padding-bottom: 50px; */
}
.start-project .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px , 1fr));
    gap: 20px;
    color: white;
}
.start-project .container .boxs .box {
    padding: 50px 0 50px;
}
.start-project .container .boxs .box img{
    max-width: 100%;
}

div.black{
    background-color: #19283f;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}
div.black h2{
    margin-top: 30px;
}
div.black p{
    margin-bottom: 40px;
}
div.black a{
    width: 80px;
    height: 10px;
    border-radius: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.stories{
    padding-top: 100px;
    padding-bottom: 100px;
}
.stories .container .boxs{
    margin-top: 40px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px , 1fr));
    gap: 30px;
    text-align: start;
}

.stories .container .boxs .box img{
    max-width: 100%;
}
.stories .container .boxs .box .text{
    padding: 10px 15px 4px;
    border: 2px solid #eee;
    border-top: none;
}
.stories .container .boxs .box .text p{
    margin: 0;
    padding: 0;
}
.stories .container .boxs .box .text h2{
    margin-top: 0;
    padding: 0;
    font-size: 20px;
}

.subscribe {
    padding: 20px 0 40px;
    background-color: #ffc400;
}

.subscribe h2{
    font-size: 22px;
}
.subscribe div{
flex: 1;
}

.subscribe div form input{
    background: none;
    border: none;
    padding-bottom: 6px;
    border-bottom: 2px solid white;
    margin-left: 50px;
    margin-top: 10px;
    width: 600px;

}
.subscribe div form input::placeholder{
    color: white;
}
.subscribe div form input::placeholder:focus{
    opacity: 0;
    color: white;
}

@media(min-width:991){
    .subscribe a{
        margin-left: auto;
    }
}
.subscribe a{
    padding: 8px 6px;
    color: #ffc400;
    background-color:#19283f;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: fit-content;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

@media(max-width:992px){
    .subscribe .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .subscribe .container div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .subscribe .container div form input {
        width: 300px;
    }
    /* .subscribe .container div form input a {
        margin-top: 50px;
    } */
}
    .footer{
        padding-top: 50px;
        padding-bottom: 100px;
        background-color: #19283f;
    }
    @media (max-width :991px){
        .footer .container{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    .footer .container {
        display: flex;
        gap: 80px;
    }

    .footer .container .two h2,
    .footer .container .three h2,
    .footer .container .four h2{
        font-size: 20px;
    }
    .footer .container .one,
    .footer .container .two,
    .footer .container .three,
    .footer .container .four{
        height: 300px;
    }
    .footer .container h2{
        max-width: 400px;
    }

    .footer .container .four p {
        max-width: 400px;
    }

    .footer .container .four a{
        padding: 8px 6px;
        color: #ffc400;
        background-color:#ff3150;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        /* margin: 30px auto; */
    }

    .footer .container .four .icon{
        text-align: start;
        margin-top: 50px;
    }

    @media (max-width :991px){
        .footer .container .four .icon{
            margin-left: 70px;
        }
    }
    .footer .container .four .icon i {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
.footer .container .four .icon i.fa-facebook{
    background-color: blue;
}
.footer .container .four .icon i.fa-twitter,
.footer .container .four .icon i.fa-linkedin{
    background-color: rgb(92, 92, 195);
}
.footer .container .four .icon i.fa-youtube{
    background-color: var(--red-color);
}